.about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 4rem;
    max-width: 1150px;
}

.section__titless {
    font-size: var(--h1-font-size);
    color: var(--title-color);
}
.ultra li{
    width: 30%;
}
.ultra li::marker {
    color: lightcoral;
}

.ultra {
    display: flex;
    flex-wrap: wrap;
    margin-left: 16px;
}

.section__subtitless{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: 4rem;
}

.section__titless,
.section__subtitless {
    font-family: 'DM Sans',sans-serif;
}

.section__subtitless {
    margin-bottom: 20px;
}

.about__description {
    font-size: 17.5px;
    font-family: 'DM Sans',sans-serif;
}

.tech-section {
    margin-top: 7rem;
}

.head {
    font-size: 19px;
    font-weight: 600;
    color: var(--title-color);
    text-align: center;
}

.about {
    margin-top: 0;
    padding-top: 20px;
    background-color: #f0f0f0;
    width: 100%;
}

.about__img {
    width: 350px;
    border-radius: 5px;
    border: 1px lightcoral solid;
    justify-self: center;
    scale: 1.4;
    animation: floaters 10s ease-in-out infinite;
}

@keyframes floaters {
    0% {
        transform: translateY(20px);
    }
    50%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(20px);
    }
}

.about__description {
    padding: 0 4rem 0 0;
    margin-bottom: var(-mb--2-5);
}

@media screen and (max-width:992px) {
    .about__container {
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }

    .about__img {
        scale: .9;
    }

    .about__data {
        text-align: center;
    }

    .ultra {
        list-style: none;
    }

    .about__info {
        justify-content: center;
    }

    .about__description {
        padding: 0 5rem;
        margin-bottom: 2rem;
    }

}

@media screen and (max-width:576px) {
    .about__info {
        grid-template-columns: repeat(3,1fr);
    }

    .about__description {
        padding: 0;

    }
}

@media screen and (max-width:350px) {
    .about__info {
        grid-template-columns: repeat(2, 1fr);
        
    }

}