.button {
    font-family: 'DM Sans',sans-serif;
    background-color: lightcoral!important;
    border-radius: 10px!important;
    scale: 1.20!important;
    font-style: inherit!important;
    text-transform: inherit!important;
    position: relative;
    left: 4%;
}