.sec {
    background-color: #29292F;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 20px;
    z-index: var(--z-fixed);
}

.text-section {
    text-align: center;
}

.github-img:hover{
    color: lightskyblue;
}
.github-img {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    scale: .25;
    font-size: 1.25rem;
}