* {
    margin: 0;
    padding: 0;
}

.section__titles {
    font-family: 'DM Sans',sans-serif;
    font-size: 1rem;
    color: var(--title-color);
    color: #8A90A1;
    margin-top: 60px;
}

.section__subtitles {
    font-family: 'DM Sans',sans-serif;
    margin-top: 1.20rem;
    display: block;
    font-size: 3.25rem;
    margin-bottom: 1.2rem;
    color: white;
}

.section__titles,
.section__subtitles {
    text-align: center;
}

.contact {
    background-color: #29292F;
    padding: 15px 0px;
}

.contact-form {
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.contact-form-text {
    font-family: 'DM Sans',sans-serif;

    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border-radius: .6rem;
    border: .5px solid #8A90A1;
    background-color: #29292F;
    padding: 17px 20px;
    outline: none;
    color: #ddd;
    transition: .5s;
}

.contact-form-text-message {
    font-family: 'DM Sans',sans-serif;
    border-radius: .6rem;
    border: .5px solid #8A90A1;
    height: 200px;
    resize: none;
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    background-color: #29292F;
    padding: 20px 20px;
    outline: none;
    color: #ddd;
    transition: .5s;
}

.contact-form-text:focus,
.contact-form-text-message:focus{
    box-shadow: 0 0 1px 1px lightcoral;
}

.contact-form-button {
    font-family: 'DM Sans',sans-serif;
    border:0;
    padding: 20px 50px;
    border-radius: .6rem;
    width: 100%;
    font-weight: bold;
    background-color: lightcoral;
}

.contact-form-button:hover {
    background-color: aquamarine;
}

.chat-bubble {
    scale: .8;
    left: 6%;
    position: relative;
    animation: floater 10s ease-in-out infinite;
}

@keyframes floater {
    0% {
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-200px);
    }
    100%{
        transform: translateY(0px);
    }
}

.footer {
    text-align: center;
    font-family: 'DM Sans',sans-serif;
    color: white;
    font-size: 11px;
}

.git-project-link {
    color: white;
}

@media screen and (max-width: 970px) {
    .chat-bubble {
        visibility: hidden;
    }
}